body{
	margin-bottom: 80px;
}

.page-header{
	margin-top: 0;
}

.panel-body{
	padding-top: 0;
}

.featureImg{
	margin-bottom: 15px;
}

footer{
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

/*#myCarousel .item{
	height: 400px;
}*/